.btn-unknown {
  color: #FFFFFF;
  background-color: #5B5B5B;
  border-color: #575757;
}

.btn-unknown:hover,
.btn-unknown:focus,
.btn-unknown:active,
.btn-unknown.active,
.open .dropdown-toggle.btn-unknown {
  color: #FFFFFF;
  background-color: #282828;
  border-color: #575757;
}

.btn-unknown:active,
.btn-unknown.active,
.open .dropdown-toggle.btn-unknown {
  background-image: none;
}

.btn-unknown.disabled,
.btn-unknown[disabled],
fieldset[disabled] .btn-unknown,
.btn-unknown.disabled:hover,
.btn-unknown[disabled]:hover,
fieldset[disabled] .btn-unknown:hover,
.btn-unknown.disabled:focus,
.btn-unknown[disabled]:focus,
fieldset[disabled] .btn-unknown:focus,
.btn-unknown.disabled:active,
.btn-unknown[disabled]:active,
fieldset[disabled] .btn-unknown:active,
.btn-unknown.disabled.active,
.btn-unknown[disabled].active,
fieldset[disabled] .btn-unknown.active {
  background-color: #5B5B5B;
  border-color: #575757;
}

.btn-unknown .badge {
  color: #5B5B5B;
  background-color: #FFFFFF;
}