/* NOTE: This is important to allow printing of the map!!! */
@media print {
    img {
        max-width: none !important;
    }

    .rc-table-col-desc {
        max-height: none !important;
        overflow: none !important;
    }
}

.unknown {
  background-color: #f2f2f2;
}

.bg-unknown {
  background-color: #f2f2f2;
}

.rc-table-row-expired {
    background-color: #ffffff;
    color: gray;
}

.rc-table-col-desc {
    max-height: 200px;
    overflow:auto;
}

#textDisplayHub {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.road-BasePanel {
    padding: 5px;
}

#rcMapPanelDiv {
    padding-top: 5px;
}

.rcSearchBox {
    padding-top: 3px;
}

.rc-btn-refresh {
    margin-bottom: 5px;
}

.panel-default > .road-map-heading-unknown {
    color: #fff;
    background-color: #282828;
    border-color: #ddd;
}

.panel-default > .road-map-heading-success {
    color: #fff;
    background-color: #449d44;
    border-color: #ddd;
}

.panel-default > .road-map-heading-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #ddd;
}

.panel-default > .road-map-heading-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #ddd;
}

.panel-default > .road-map-heading-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ddd;
}

#imgObsTypeDiv {
    width: 32px;
    height: 16px;
}

#imgObsType {
    height: 16px;
}

.btn-card-action {
    width: 100%;
    margin: 2px;
}

table.cards {
    background-color: transparent;
}

.cards tbody img {
    height: 100px;
}
.cards tbody tr {
    float: left;
    width: 100%;
    margin: 10px;
    border: 1px solid #aaa;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
    background-color: white;
}
.cards tbody td {
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: left;
}

.cards tbody td #rcMapView_rowActions .btn-card-action {
    width: auto;
}

.table tbody label {
    display: none;
    margin-right: 5px;
    width: 75px;
}

.cards tbody label {
    display: inline;
    position: relative;
    font-size: 100%;
    font-weight: normal;
    float: left;
    color: #808080;
}