img
{
  max-width: none !important;
}

#map {
    width: 650px;
    height: 400px;
}

.bg-unknown {
  background-color: #f2f2f2;
}

.panel-default > .road-map-heading-unknown {
    color: #fff;
    background-color: #282828;
    border-color: #ddd;
}

.panel-default > .road-map-heading-success {
    color: #fff;
    background-color: #449d44;
    border-color: #ddd;
}

.panel-default > .road-map-heading-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #ddd;
}

.panel-default > .road-map-heading-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #ddd;
}

.panel-default > .road-map-heading-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ddd;
}
